# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker
postgres_data/

# TypeORM
*.js.map
*.tsbuildinfo

# secret
/k8s/secret.yaml